{% extends 'base/base.html' %}
{% load static %}
{% block title %}Eliminar {{ videogame.title }} - pyGAMEcol{% endblock title %}
{% block navbar %}
<nav class="navbar-nav">
    <form class="form-inline" action="{% url 'logout' %}">
        <button class="btn btn-outline-danger" type="submit"><i class="fa-solid fa-user-xmark"></i> Cerrar sesión</button>
    </form>
</nav>
{% endblock navbar %}
{% block subnavbar %}
<nav class="navbar navbar-expand fixed-bottom navbar-dark bg-secondary" style="margin-top: 65px ;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'collection' %}">
            Eliminar videojuego
        </a>
        <nav class="navbar-nav mx-auto">
            <strong>{{ videogame.title }} </strong> lleva en tu colección desde el {{ videogame.created_at }}
        </nav>
        <nav class="navbar-nav">
            <a href="{% url 'collection' %}" class="btn btn-success"><i class="fa-solid fa-house"></i> Colección</a>
        </nav>
    </div>
</nav>
{% endblock subnavbar %}
{% block body %}
<form action="" method="post"> {% csrf_token %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body text-center">
                            <div class="mb-md-4 mt-md-1">
                                <h2 class="fw-bold mb-2 text-uppercase">Eliminar videojuego</h2>
                                <p class="text-white-50 mb-4">¿Realmente deseas eliminar el videojuego de tu colección?</p>
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="card"style="width: 20rem;">
                                        <img src="{{ videogame.front_cover.url }}" class="card-img-top mx-auto rounded mt-1" style="height: 400px; width: 300px;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ videogame.title }}</h5>
                                            <p class="card-text fs-6"><img class="img-fluid mx-auto" src="{{ videogame.platform.icon.url }}" style="height: 24px; width: 24px;"> {{ videogame.platform }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-outline-danger btn-lg px-5" type="submit" value="Confirm"><i class="fa-solid fa-trash"></i> Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock body %}